
#journal{
    text-align: center;
}
#goal{
    text-align: center;
}

#meal-record{
    text-align: center;
}

#chart-result{
    text-align: center;
}
/* General */
.card {
    /* font-family: 'KoHo', sans-serif; */
    font-family: 'Old Standard TT', serif;
    margin-top:10px;
}

/* Login Page Css */

.table{
    text-align: center;

}
#main-info{
    text-align: center;
}
/* visited link */
a:visited {
    color: grey;
    
  }

  .nav{
      text: 30px;
  }

#weekly-goal{
    border-style: solid;
    border: black;
    border-width: 3px;
}

.border{
    border-style: solid;
    border: black;
    border-width: 3px;
}

/*Main Page*/
#mainPage{
    position: relative;
    text-align: right;
}

#onSignIn{
    margin: 6px;
    background-color: #008CBA;
    border-color: #008CBA;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}
#onSignOut{
    background-color: #008CBA;
    border-color: #008CBA;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}
#imageMainPage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

body{
    height: 100vh;
    margin-top: 35px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-color: rgba(155, 182, 250, 0.66);
    background-image: url(../Pictures/mainPage.jpg);
   

}

#quote{
    margin: 34px;
    margin-left: 100px;
    margin: 90px;
    font-family: 'Old Standard TT', serif;
    color: rgb(56, 162, 72);
    font-size: 48px;
    font-style: italic;
}

#onSignUp{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-left: 300px;
    font-size: 18px;


}




#enterInfo{
    margin: 20px;
    margin-left: 240px;

    font-family: 'Old Standard TT', serif;
    color: rgb(70, 104, 164);
    font-size: 18px;
}