

#meal-record{
    text-align: center;
}

#chart-result{
    text-align: center;
}
/* General */


/* Login Page Css */

.table{
    text-align: center;

}
#main-info{
    text-align: center;
}
/* visited link */
a:visited {
    color: grey;
    
  }

  .nav{
      text: 30px;
  }



.border{
    border-style: solid;
    border: black;
    border-width: 3px;
}

/*Main Page*/
#mainPage{
    position: fixed;
    text-align: right;
margin-top: 10%;
  
}

#onSignIn{
    margin: 6px;
    background-color:  rgb(39, 167, 210);
    border-color:  rgb(39, 167, 210);
    color:antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 15px;
    font-family: 'Old Standard TT', serif;

}
#onSignOut{
    background-color: rgb(39, 167, 210);
    border-color: rgb(39, 167, 210);
    color:antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 15px;
    font-family: 'Old Standard TT', serif;

}
#imageMainPage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#mainBody{
    height: 100vh;
    margin-top: 35px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-color: rgba(155, 182, 250, 0.66);
    background-image: url(../Pictures/mainPage.jpg);
   

}

#quote{
    margin: 34px;
    margin-left: 100px;
    margin: 90px;
    font-family: 'Old Standard TT', serif;
    color: rgb(56, 162, 72);
    font-size: 48px;
    font-style: italic;
}

#title{
    margin-left: 230px;
    margin-top: 30px;
    font-family: 'Old Standard TT', serif;
    color: rgb(56, 162, 72);
    font-size: 48px;
    font-weight: bold;
    text-shadow: 1px 1px grey;

}

#onSignUp{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Old Standard TT', serif;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-left: 300px;
    font-size: 18px;
}

#enterInfo{
    margin: 20px;
    margin-left: 240px;

    font-family: 'Old Standard TT', serif;
    color: rgb(70, 104, 164);
    font-size: 18px;
}

/* LoginPage */

#main-info{
    margin-top: 9px;
    font-family: 'Old Standard TT', serif;
    color: rgb(25, 116, 39);
    font-size: 60px;
    font-style: italic;

   

}

#mainPage{
    position: absolute;
    margin-top: -7%;
    margin-left: 90%;
 color: antiquewhite;
    background-color: rgb(39, 167, 210);
    border-color: rgb(51, 169, 208);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;




}

#pageBody{

    background-position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-color: rgba(157, 197, 237, 0.413);
    background-image: url(../Pictures/eatlike.jpg);
    padding-left: 10px;
    

}


.card {
    /* font-family: 'KoHo', sans-serif; */
}

#bodyinfo{
    margin-top:70px;
    background-color: rgba(230, 237, 245, 0.633);
    font-family: 'Old Standard TT', serif;
    margin-top:15px;
padding: 2%;
margin-right: 3px;
margin-left: -220px;

}
#onSubmit{
    color: antiquewhite;
    background-color: rgb(39, 167, 210);
    border-color: rgb(51, 169, 208);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;

    
}

/*Journal*/

#signOut{

    background-color: rgb(39, 167, 210);
    border-color:  rgb(51, 169, 208);
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Old Standard TT', serif;
}



#journalheader{
    font-family: 'Old Standard TT', serif;
    color: rgb(25, 116, 39);
    font-size: 60px;  
    font-style: italic;
    text-align: center;

}
#goals{
    margin-top:100px;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    color: rgb(101, 101, 101);
    font-size: 30px; 
    padding-top:10px;
}

#weekly-goal{
    padding-top:10px;
    border-style: solid;
    border: rgb(221, 128, 128);
    border-width: 3px;
    font-size: 20px;
  
}

#myTable{
    padding-top:10px;
    background-color: rgb(222, 158, 90);
    font-size: 20px;
    color:seashell;

}


#mealRecord{
    background-image: url(../Pictures/mealRecord.jpg);
    background-position: absolute;
    height: 60vh;
    margin-top: 35px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    color: rgb(101, 101, 101);
  }

  #card1{
      margin-top: 40px;
   margin-right: 30%;
   padding-bottom: 10px;
  }

  #chart-result{
      padding-top: 20px;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    color: rgb(101, 101, 101);
    background-image: url(../Pictures/chart.jpg);
    background-position: fixed;
    height: 110vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;


  }