
#journal{
    text-align: center;
}
#goal{
    text-align: center;
}

#meal-record{
    text-align: center;
}

#chart-result{
    text-align: center;
}
/* General */
.card {
    /* font-family: 'KoHo', sans-serif; */
    font-family: 'Old Standard TT', serif;
    margin-top:10px;
}

/* Login Page Css */

.table{
    text-align: center;

}
#main-info{
    text-align: center;
}
/* visited link */
a:visited {
    color: grey;
    
  }

  .nav{
      text: 30px;
  }

#weekly-goal{
    border-style: solid;
    border: black;
    border-width: 3px;
}

.border{
    border-style: solid;
    border: black;
    border-width: 3px;
}

/*Main Page*/
#mainPage{
    position: relative;
    text-align: right;
}

#onSignIn{
    margin: 6px;
}

#imageMainPage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

body{
    background-image: url(../Pictures/mainPage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
    

}